$Foundation_Red_DarkBlue_darkblue_200: #9098a5;
$Foundation_Green_green_500: #519c66;
$Foundation_Green_green_50: #eef5f0;
$Foundation_Red_DarkBlue_darkblue_500: #0e1e3c;
$Foundation_Blue_blue_300: #707fe2;
$Foundation_Blue_blue_50: #eaecfb;
$Foundation_Yellow_yellow_700: #b59738;
$Foundation_Red_DarkBlue_darkblue_100: #b4b9c3;
$BG_Light: #f8f9fa;
$Black: #000;
$Foundation_Red_red_500: #c62a1c;
$Foundation_White_white_500: #fff;
$Foundation_Red_red_200: #e59d97;
